:root{
    --main-color: #212731;
    --secondary-color: #00ADB5;
    --accent-color: #CED4DE;
    --white-color: #EDEDED;
    --black-color: #1B1B1B;
    --blue-color: #1F5293;
    --red-color: #950101;
    --low-color: #E9F0E7;
    --mid-color: #FEF5CC;
    --high-color: #FBE6E6;
}

body{
    font-family: 'Inconsolata', monospace;
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

*{
    box-sizing: border-box;
}

#content{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 0.8fr 7fr 0.5fr;
    grid-template-columns: 1fr 5fr;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/1/2/3;
    background-color: var(--main-color);
}

header > h1{
    font-family: 'Lilita One', sans-serif;
    margin: 0;
    font-size: 40px;
    color: var(--white-color);
}

aside{
    grid-area: 2/1/3/2;
    background-color:var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

main{
    grid-area: 2/2/3/3;
    background-color: var(--white-color);
}

footer{
    grid-area: 3/1/4/3;
    background-color: var(--main-color);
}

button{
    border-style: none;
    background-color: var(--accent-color);
}

button:hover{
    background-color: #019FA7;
}